/* Základní styl */
body {
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #B0A7A7;
}

.hlavicka {
    background-color: #262121;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0 0 15px 15px;
    
}


.hlavicka .menu {
    margin-left: 30px;  /* oddělení menu od loga */
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #B0A7A7;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: transform 0.3s, color 0.3s;
}

.menu a:hover {
    transform: scale(1.2); /* plynulé zvětšení */
    color: #5555a3; /* případně změna barvy písma */
}

    
/* Obsah */
.obsah {
    padding: 20px 50px;
    text-align: center;
}

.obsah img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}














