/* Základní styl */
body {
    font-family: Tahoma, Verdana, sans-serif;
    background-image: url("images/birch_planks.png"); /* pozadí */
    background-repeat: repeat;
    background-size: 128px 128px;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: black;
}

.hlavicka {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #5a73c7;
}

    
/* Obsah */
.obsah {
    padding: 20px 50px;
    text-align: center;
}

.obsah img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}




